* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: #fff;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

/* buttons */
.btn {
  background: #e50914;

  color: #fff;
  padding: 7px 15px;
  border: none;
  border-radius: 2px;
  outline: rgb(77, 77, 77) solid 1px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.btn:hover {
  background: rgb(243, 11, 11);
}

.btn-lg {
  font-size: 1.8rem;
  padding: 19px 35px;
}

/* Heading */
.heading-xl {
  font-size: 4rem;
  line-height: 1.1;
  padding: 0.9rem;
}

.heading-lg {
  font-size: 3rem;
  line-height: 1.1;
  padding: 0.7rem;
}

/* paragraph */
.para-lg {
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 0.7rem;
  /* margin: 0.7rem 0; */
}

.para-md {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.6rem;
}
.para-sm {
  font-size: 1rem;
  line-height: 0.8;
  padding: 0.5rem;
}

/* Header */

header {
  height: 100vh;
  width: 100%;
  background: url("../img/Bg.jpg") no-repeat center center/cover;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 40px 40px 100px #000, inset -40px -40px 100px #000;
}

header .header-top {
  height: 100px;
  width: 100%;
  position: relative;
  z-index: 2;
}

header .header-top img {
  width: 170px;
  height: 45px;
  float: left;
  margin: 27px 0 0 55px;
}

header .header-top button {
  border-radius: 3px;
  float: right;
  margin: 27px 55px 0 0;
}

header .header-showcase {
  position: relative;
  z-index: 2;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header .header-showcase h1 {
  margin-top: 8rem;
  width: 50%;
  text-align: center;
}

header .header-showcase form,
.section-5-details form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

header .header-showcase form input,
.section-5-details input {
  height: 4.5rem;
  width: 32rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.container {
  width: 75%;
  margin: auto;
}

header,
section {
  border-bottom: #222222 8px solid;
}

/* Section-1 */
.section-1-details {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.section-1-media {
  position: relative;

  height: 400px;
  width: 530px;
}
.section-1-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

.section-1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-1-video {
  position: absolute;
  height: fit-content;
  max-width: 380px;
  top: 5.3rem;
  left: 4.7rem;
}

.section-1-video video {
  width: 100%;
}

/* Section-2 */

.section-2-details,
.section-4-details {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.section-2-media,
.section-4-media {
  position: relative;

  /* width: 50%; */
}

.section-2-text,
.section-4-text {
  min-width: 50%;
}
.section-2-img,
.section-4-img {
  height: 378px;
  width: 504px;
}
.section-2-img img,
.section-4-img img {
  width: 100%;
  height: 100%;
}

.section-2-mini-box {
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 5rem;
}
.section-2-mini-box-content {
  height: 100px;
  width: 330px;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 1rem;
  background: #000;
  border-radius: 10px;
  border: #313131 2px solid;
}
.section-2-download {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}

.section-2-download img {
  width: 20%;
}

.section-2-download-text {
  text-align: left;
}

.section-2-download-text p {
  color: #006de4;
}

/* Section-3 */
.section-3-text {
  width: 45%;
  margin: 2rem 0;
}

/* Section-5 */

.section-5-details {
  margin: 4rem auto;
  text-align: center;
}
.section-5-details > p {
  margin-top: 3rem;
}
.section-5-text h1 {
  margin-bottom: 2rem;
}

.section-5-question-content {
  background: #303030;
  max-width: 72%;
  margin: auto;
  margin-top: 0.6rem;
  padding: 0.7rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.section-5-question {
  width: 90%;
  text-align: left;
}

.section-5-question-icon {
  text-align: right;
  width: 10%;
}

/* Footer */
.footer-details {
  margin-top: 4rem;
}
.footer-elements {
  width: 85%;
  margin: auto;
  color: #627575;
}

.footer-cols {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.footer-cols li {
  padding: 0.4rem 0;
}

.footer-cols li a,
.text-sm {
  font-size: 0.8rem;
}
.footer-cols li a:hover {
  text-decoration: underline;
}

.footer-elements p {
  margin: 1.5rem 0;
}

@media (max-width: 768px) {
  /* buttons */

  .btn-lg {
    font-size: 1.2rem;
    padding: 10px;
  }

  /* Heading */
  .heading-xl {
    font-size: 3rem;
    line-height: 1.1;
    padding: 0.9rem;
  }

  .heading-lg {
    font-size: 2rem;
    line-height: 1.1;
    padding: 0.7rem;
  }

  /* paragraph */
  .para-lg {
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 0.7rem;
    /* margin: 0.7rem 0; */
  }

  .para-md {
    font-size: 1rem;
    line-height: 1;
    padding: 0.6rem;
  }
  .para-sm {
    font-size: 0.8rem;
    line-height: 0.8;
    padding: 0.5rem;
  }
  /* header */
  header {
    height: 100vh;
    width: 100%;
  }

  header .header-top {
    height: 80px;
  }

  header .header-top img {
    width: 110px;
    height: 30px;
  }

  header .header-showcase h1 {
    margin-top: 5.5rem;
    width: 80%;
  }

  header .header-showcase form,
  .section-5-details form {
    flex-direction: column;
    gap: 1rem;
  }

  header .header-showcase form input,
  .section-5-details input {
    height: 4rem;
    width: 80vw;
    padding: 0.6rem;
    font-size: 1.1rem;
  }
  .section-1-details {
    grid-template-columns: 1fr;
    gap: 0;
    text-align: center;
  }

  .section-2-details,
  .section-4-details {
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .section-3-text {
    text-align: center;
    width: 100%;
  }

  .footer-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* buttons */
  .btn {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  /* Heading */
  .heading-xl {
    font-size: 2rem;
    line-height: 1.1;
    padding: 0.9rem;
  }

  .heading-lg {
    font-size: 1.5rem;
    line-height: 1.1;
    padding: 0.7rem;
  }

  /* paragraph */
  .para-lg {
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.7rem;
    /* margin: 0.7rem 0; */
  }

  .para-md {
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.6rem;
  }
  .para-sm {
    font-size: 0.6rem;
    line-height: 0.8;
    padding: 0.5rem;
  }
  .container {
    width: 100%;
  }

  /* header */
  header {
    height: 100vh;
    width: 100%;
  }

  header .header-top {
    height: 70px;
  }

  header .header-top img {
    width: 90px;
    height: 20px;
  }

  header .header-showcase h1 {
    margin-top: 3rem;
    width: 80%;
  }

  header .header-showcase form,
  .section-5-details form {
    flex-direction: column;
    gap: 1rem;
  }

  header .header-showcase form input,
  .section-5-details input {
    height: 2.5rem;
    max-width: 80vw;
    padding: 0.6rem;
    font-size: 1.1rem;
  }

  .section-1-media {
    height: 200px;
    width: 355px;
    margin: auto;
  }
  .section-1-video {
    height: fit-content;
    max-width: 260px;
    top: 1.5rem;
    left: 2.7rem;
  }

  .section-2-mini-box {
    bottom: 1rem;
    left: 3.8rem;
  }
  .section-2-mini-box-content {
    height: 50px;
    width: 230px;
    padding: 0.7rem;
  }
  .section-2-download-text h4 {
    font-size: 0.8rem;
  }
  .section-2-download-text p {
    font-size: 0.7rem;
  }

  .section-2-download img {
    width: 15%;
  }

  .section-2-img,
  .section-4-img {
    height: 220px;
    width: 360px;
    object-fit: cover;
  }

  .section-5-question-content {
    background: #303030;
    max-width: 100%;
  }

  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
